//colors
.main-header {
  background: $five;
  a {
    color: white;
  }
}

.main-footer {
  background: $five;
  span {
    color: white;
  }
  a {
    color: white;
  }
}

h2 {
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
  height: 100px;
}

.body {
  margin: 120px 0px 50px 0px;
  section {
    border: solid grey 1px;
    margin: 10px 10px 50px 10px;
  }
  section:nth-of-type(3n+0) {
    background: white;
  }
  section:nth-of-type(3n+1) {
    background: white;
  }
  section:nth-of-type(3n+2) {
    background: white;
  }
}

.icons {
  padding: 5px;
  font-size: 20px;
  transition: font 0.3s ease;
}

.icon-link {
  text-decoration: none;
}

.input {
  display: block;
  margin: 15px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.page-links {
  position: relative;
  bottom: 110px;
}
