ul {
  list-style-type: none;
}

textarea {
  resize: none;
  height: 100px;
}

.body {
  section {
    padding: 20px;
    margin: 10px 40px 10px 40px;
    border: 1px solid grey;
  }
  section:first-of-type {
    margin-top: 91px;
  }
  section:last-of-type {
    margin-bottom: 40px;
  }
}

.icons {
  padding: 5px;
  font-size: 20px;
  transition: font 0.3s ease;
}

.icon-link {
  text-decoration: none;
}

.input {
  display: block;
  margin: 15px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.page-links {
  position: relative;
  padding: 10px;
  bottom: 57px;
}
