@import 'icons/index';

.icon-sphere:before {
    content: "\e904";
}
.icon-earth:before {
    content: "\e905";
}
.icon-mail:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-github:before {
    content: "\e902";
}
.icon-npm:before {
    content: "\e906";
}
.icon-linkedin:before {
    content: "\e903";
}
