@import 'icons/index';

.icon-mail:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-github:before {
    content: "\e902";
}
.icon-linkedin:before {
    content: "\e903";
}
