.container {
  display: flex;
  justify-content: space-around;
}

//header
.main-header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: -1%;
}

.site-nav {
  display: flex;
  padding: 0px;
  margin: 0px;

  li {
    padding: 20px 18px 13px;
  }
}

//body

//landing
.landing-container {
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid $five 10px;
  margin: 20px;
}

.title {
  font-size: 50px;
  margin-right: 20px;
  color: $five;
}

.subtitle {
  font-size: 30px;
  margin: 10px;
  color: $five;
}

.landing-list {
  padding: 0px;
  color: $five;
}

//about

.intro {
  text-align: left;
  width: 35%;
  margin-top: 0px;
}

.profile-img {
  width: 300px;
  height: 300px;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.projects {
  margin: 40px 0px;
}

.project-container {
  display: flex;
  align-items: flex-start;
  margin: 0px 50px;
}

.project-logo {
  width: 100px;
  height: 100px;
  padding: 25px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 41px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.tech {
  border: 1px solid grey;
  margin: 5px;
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  color: white;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
}

.link-container {
  margin: 10px;
}


//footer
.main-footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -1%;
  * {
    padding: 20px 3px 20px 3px;
  }

}


//imgs
.resume-img {
  width: 70%;
  height: 90%;
}
