//header
.main-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.site-nav {
  display: flex;
  padding: 0px;

  li {
    padding: 10px;
  }
}

//footer
.main-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  span {
    padding: 20px;
  }

}
